.flex {
  display: flex;
}
a {
  text-decoration: none !important;
  color: #000000 !important;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #888;
  overflow: scroll;
}
/* Categories */
.categories {
  /* border: red solid medium; */
  background-color: #f9f9f9;
}

.slider-placement {
  width: 100%;
}
.carousel-img {
  height: 300px;
}

@media (min-width: 787px) {
  .categories-placement {
    width: 25%;
  }
  .slider-placement {
    width: 70%;
  }
  .carousel-img {
    height: 410px;
  }
}
/* Navbar */
.menu-bar {
  font-size: 13px;
  margin-left: 5px;
}
.menu-bar .title {
  font-size: 11px;
  color: #0167f3;
}

.account p {
  color: #081828;
}
.account div {
  margin-bottom: 8px;
}
@media (max-width: 560px) {
  .categories {
    background-color: #fff;
    margin-left: -20px !important;
  }
  .categories ul li {
    font-size: 13px;
  }
}
.help p {
  margin-bottom: 10px;
  margin-left: 5px;
}
.cart-total {
  position: absolute;
  right: -4px;
  top: -3px;
  height: 19px;
  width: 19px;
  line-height: 19px;
  background-color: #081828;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 50%;
}
.icon-border {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  padding: 5px;
}

.search {
  height: 30px;
}

/* dropdown for account tab*/
.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -40px;
}
.dropdown-content > a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown:focus .dropdown {
  /* background-color: #c2cac6af; */
  background-color: red;
}

/* Item card */
.item {
  height: 300px;
  width: 150px;
  border: black medium solid;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.item-img > img {
  height: 180px;
  width: 100%;
  border-radius: 10px;
}
.item-price {
  padding-left: 10px;
}
.item-name {
  padding-left: 10px;
}

/* Collection */
.collection {
  background-color: #f9f9f9;
}
.see-more {
  /* position: absolute;
  right: 10px; */
  font-weight: bold;
}

/* Single product */
.single-product {
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 20px #00000012;
  box-shadow: 0px 0px 20px #00000012;
  padding: 5px;
  background: #fff;
  min-width: 100px;
  min-height: 150px;
}

.single-product .product-image {
  overflow: hidden;
  position: relative;
  height: 120px;
}
.single-product .product-image img {
  width: 100%;
  height: 100%;
}
@media (min-width: 991px) {
  .single-product {
    width: 300px;
    height: 400px;
    padding: 8px;
  }
  .single-product .product-image {
    height: 230px;
  }
  .single-product .product-info .title {
    font-size: 17px !important;
    font-weight: 700 !important;
    height: 50px;
  }
  .single-product .product-info {
    padding: 20px;
    background-color: #fff;
  }
  .sale-tag {
    border-radius: 2px;
    font-size: 12px !important;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px !important;
  }
  .new-tag {
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    padding: 5px 10px;
  }
  .single-product .product-info .price {
    margin-top: 15px;
  }
  .single-product .product-info .price span {
    font-size: 17px !important;
  }
  .single-product .product-info .saved span {
    color: #f73232;
    font-size: 15px;
    background-color: #0167f3;
  }
  .saved {
    margin-top: 5px;
    padding-top: 5px;
  }

  .single-product .product-info .price .discount-price {
    margin: 0;
    color: #aaaaaa;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px !important;
    display: inline-block !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-product .product-info .saved span {
    color: #f73232;
    font-size: 15px;
    background-color: #0167f3;
  }
  .saved {
    margin-top: 5px;
    padding-top: 5px;
  }
  .single-product .product-info .title {
    font-size: 14px !important;
    font-weight: 500 !important;
    height: 50px;
  }
  /* .single-product .product-image {
    height: 250px;
  } */
}

.sale-tag {
  background: #f73232;
  border-radius: 2px;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0;
  padding: 5px 5px;
  left: 0;
  z-index: 22;
}

.new-tag {
  background: #0167f3;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0;
  padding: 5px 10px;
  right: 0;
  z-index: 22;
}

.single-product .product-image .button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -60px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  background-color: #0167f3;
  color: #fff !important;
  padding: 6px 10px;
  font-size: 8px;
  font-weight: 600;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
}

.single-product .product-image .button:hover {
  background-color: #081828;
}

@media (min-width: 568px) {
  .single-product .product-image .button {
    font-size: 13px;
    font-weight: 600;
    width: 140px;
    padding: 12px 20px;
  }
}
.single-product .product-image img {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.single-product:hover .product-image .button {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.single-product:hover .product-image > img {
  -webkit-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
}

.single-product .product-info .category {
  color: #888;
  font-size: 14px;
  margin-bottom: 2px;
}

.single-product .product-info .title {
  font-size: 12px;
  font-weight: 400;
  color: #081828;
  height: 30px;
}
.single-product .product-info .title a:hover {
  color: #0167f3;
}
.single-product .product-info .price {
  margin-top: 5px;
}

.single-product .product-info .price span {
  font-size: 11px;
  font-weight: 700;
  color: #0167f3;
  display: inline-block;
}
.single-product .product-info .price .discount-price {
  display: none;
}

/* End Single Product */

/*======================================
    Shipping Info CSS
========================================*/
.shipping-info {
  margin-top: 30px;
  background-color: #f9f9f9;
  padding: 50px 0;
}

.shipping-info ul {
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
}

.shipping-info li {
  list-style: none;
  float: left;
  width: 25%;
  padding: 30px 40px;
  border: 1px solid #eee;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shipping-info li {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .shipping-info li {
    width: 100%;
  }
}

.shipping-info li:hover {
  background-color: #fff;
}

.shipping-info .media-icon {
  margin-bottom: 15px;
}

.shipping-info .media-icon {
  color: #0167f3;
  font-size: 38px;
}

.shipping-info .media-body {
  padding-bottom: 0px;
}

.shipping-info .media-body h5 {
  font-size: 15px;
  margin: 0px;
  font-weight: 600;
  color: #081828;
}

.shipping-info .media-body span {
  font-size: 13px;
  margin-top: 2px;
  color: #777;
}

/* Footer CSS */
footer {
  background-color: #081828;
  padding-top: 50px;
  color: #fff;
}
.footer-first {
  padding-bottom: 50px;
  border-bottom: 1px solid #ffffff26;
}
.subscribe-title {
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}
@media (min-width: 767px) {
  .subscribe-title {
    font-size: 20px;
  }
  .newsletter-input {
    height: 50px;
  }
  .subscribe-btn {
    margin-top: 4px;
  }
  .shop-categories p,
  .shop-categories span,
  .shop-categories div,
  footer .footer-third p,
  footer .footer-third div {
    font-size: 17px !important;
  }
  .shop-categories-title {
    font-size: 17px !important;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .newsletter-form-head {
    display: block !important;
  }
}
.subscribe-info {
  color: #c2c2c2;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
  display: inline-block;
}
.newsletter-input {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.308);
  border-radius: 4px;
  width: 300px;
  display: inline-block;
  border: none !important;
  padding: 0px 20px;
  color: #fff;
}
.newsletter-input::placeholder {
  color: #fff;
}
.subscribe-btn {
  background-color: #0167f3;
  color: #fff;
  height: 40px;
  width: 100px;
  border-radius: 4px;
  margin-left: 20px;
  font-weight: 600px;
}
.subscribe-btn:hover {
  color: #081828;
  background-color: #fff;
}
.newsletter-input {
  width: 100%;
  border-radius: 4px;
  padding: 0px 20px;
  border: 1px solid #eee;
}
.shop-categories {
  padding-top: 50px;
}
.shop-categories p,
.shop-categories span,
.shop-categories div {
  font-size: 13px;
}
.shop-categories-title {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}
.shop-categories-title::before {
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #0167f3;
  content: "";
}

footer .footer-second p {
  display: block;
  margin-bottom: 12px;
  position: relative;
}
footer .footer-second p:hover {
  padding-left: 5px;
  color: #0167f3;
}
.contact div {
  margin-bottom: 12px;
}
.contact div span {
  display: block;
}
.footer-second {
  padding-bottom: 40px;
  border-bottom: 1px solid #ffffff26;
}
.footer-third {
  margin-top: 20px;
  padding-bottom: 20px;
}
footer .footer-third p,
footer .footer-third div {
  font-size: 13px;
}
footer .footer-third .socials div {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 20px;
  padding-top: 7px;
  padding-left: 7px;
  font-size: 15px;
}
footer .footer-third .socials div:hover {
  background-color: #0167f3;
  color: #fff;
}

/* Item Details */
.sizes p {
  width: 30px;
  height: 30px;
  background-color: #c2c2c2;
  text-align: center;
  margin-right: 10px;
}
.color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: blue;
  margin-right: 10px;
}
.add-to-cart {
  /* width: 100px; */
  height: 50px;
  background-color: #0167f3;
  color: #eee;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 600;
  width: 140px;
}
.add-to-cart:hover {
  color: #eee;
  background-color: #081828;
}
.item-details {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.description,
.specifications {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
}
.categories li {
  font-size: 18px;
  margin-top: 8px;
}
.categories li:hover,
.categories li:focus {
  padding-left: 5px;
}
/* Sign Up */
.sign-up {
  width: 600px !important;
  border: medium solid black;
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Scroll To Top */
.scroll-top {
  width: 40px;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  background: #0167f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: #fff !important;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 4px;
}

.scroll-top:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  background-color: #081828;
}

/* ItemDetails */
.alternative-image {
  height: 60px;
  width: 60px;
  border: solid medium #000000;
  margin-right: 3px;
  display: none;
}
.item-details-image {
  height: 300px;
  width: 300px;
}
@media (min-width: 560px) and (max-width: 768px) {
  .alternative-image {
    height: 80px;
    width: 80px;
    margin-right: 5px;
    display: none;
  }
}
@media (min-width: 768px) {
  .alternative-image {
    display: flex;
  }
}
.product-display {
  /* border: solid medium red; */
  margin-bottom: 8px;
  border-radius: 5px;
  position: relative;
  padding-bottom: 20px;
  font-size: 13px;
  background-color: #f9f9f9;
  height: 150px;
}
.product-display img {
  height: 100%;
}
.product-image {
  height: 140px;
}
.product-display button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #0167f3;
  padding: 10px;
  color: #eee;
  font-weight: 500;
  border-radius: 4px;
}

/* Cart Items Display */
.cart-item {
  border-radius: 6px;
  background-color: #f9f9f9;
}
.cart-item .remove {
  background-color: #0167f3;
  color: #eee;
  padding: 6px;
  margin-top: 13px;
  border-radius: 6px;
}
.cart-item .remove:hover .cart-item .remove:focus {
  background-color: #eee;
  color: #0167f3;
}
.cart-item .increase {
  font-weight: bold;
  font-size: 17px;
  padding: 0px 15px;
  color: #eee;
  background-color: #0167f3;
  margin-right: 15px;
  margin-top: 15px;
}
.cart-item .decrease {
  font-weight: bold;
  font-size: 17px;
  padding: 0px 15px;
  color: #eee;
  background-color: #4e8ce2;
  margin-right: 15px;
  margin-top: 15px;
}
.cart-item .amount {
  font-weight: bold;
  margin-right: 15px;
  padding: 0px 15px;
  margin-top: 15px;
}
.cart-item .count {
  margin-left: 20px;
}

@media (min-width: 560px) {
  .count {
    position: absolute;
    right: 10%;
    top: 68%;
  }
  .cart-item {
    position: relative;
  }
}
@media (min-width: 768px) {
  .count {
    position: absolute;
    right: 10%;
    top: 75%;
  }
}
@media (min-width: 991px) {
  .count {
    position: absolute;
    right: 10%;
    top: 80%;
  }
}
@media (min-width: 1024px) {
  .count {
    position: absolute;
    right: 10%;
    top: 83%;
  }
}

/* Cart Container */
.start-shopping {
  background-color: #0167f3;
  border-radius: 6px;
  padding: 6px;
  color: #eee;
}
.clear-cart {
  background-color: #f73232;
  border-radius: 6px;
  padding: 6px;
  color: #eee;
  position: absolute;
  right: 6px;
  margin-top: 15px;
}
.checkout {
  background-color: #0167f3;
  border-radius: 6px;
  padding: 6px 8px;
  color: #eee;
  margin-top: 15px;
  width: 200px;
}
.cart {
  position: relative;
  background-color: #f1f1f1;
}

/* Modal */
.modal {
  /* z-index: 10; */
  background-color: red;
  height: 250px;
  width: 300px;
  border-color: red;
}
.modal .confirm-btn {
  padding: 10px;
  border: #0167f3 2px solid;
  color: #0167f3;
}
.modal .cancel-btn {
  padding: 10px;
  border: #f73232 2px solid;
  color: #f73232;
}

/* =================================
    My Account Page
===================================*/

/* Account */
.account {
  /* border: solid thin red; */
  /* background-color: #aaaaaa !important; */
  /* max-width: 400px; */
  margin-top: 20px;
}
.my-account,
.settings {
  background-color: #f9f9f9 !important;
  border-radius: 3px;
  margin: 10px 5px;
  padding: 5px 5px;
}

.account-title {
  /* font-size: 17px; */
  color: #aaaaaa;
  font-weight: bold;
  padding-left: 5px;
}
.my-account p,
.settings p {
  padding: 5px 5px;
}
.my-account p:hover,
.settings p:hover {
  color: #0167f3;
}
.account .log-out {
  padding: 10px;
  margin: 5px;
  color: #eee;
  background-color: #0167f3;
  border-radius: 6px;
}
.account .log-out:hover {
  color: #0167f3;
  background-color: #eee;
}
.left-nav {
  /* border: red thin solid; */
  background-color: #f9f9f9;
}
.account-full {
  /* background-color: #f1f1f1 !important; */
  margin: 40px 0px;
  /* min-height: 850px; */
}
@media (min-width: 768px) {
  .sub-account {
    background-color: #f9f9f9;
    min-height: 510px;
  }
  .section-title {
    padding: 10px 3px;
    border-bottom: #f1f1f1 2px solid;
  }
}

/* Overview */
/* .overview {
  background-color: #f9f9f9;
  min-height: 510px;
} */
.overview hr {
  width: 100%;
}
.section-title {
  padding: 10px 3px;
  border-bottom: #f1f1f1 2px solid;
}
.overview-section {
  border: #f1f1f1 2px solid;
  /* padding-left: 15px; */
}
.overview-section h5 {
  margin: 12px 10px;
  padding-bottom: 10px;
  border-bottom: #f1f1f1 2px solid;
}
.overview-section p {
  margin: 8px 8px;
}
.overview-section .overview-address p {
  font-size: 14px;
  margin-left: 18px;
}

/* Order */
.order {
  margin-top: 20px;
  max-width: 400px;
  margin-bottom: 30px;
}

.order span {
  color: #aaaaaa;
  display: block;
  margin-top: 10px;
}
.order button {
  padding: 10px;
  background-color: #0167f3;
  color: #eee;
  border-radius: 6px;
  margin-bottom: 20px;
}
.order button:hover {
  color: #0167f3;
  background-color: #eee;
}
.order-1 {
  font-size: 17px;
  margin-top: 10px;
  font-weight: bold;
}

/* Close Account */
.close-account {
  margin: 20px 0px;
}
.close-account p {
  margin-top: 10px;
  padding-left: 5px;
}

.close-account button {
  padding: 10px;
  border-radius: 6px;
  color: #eee;
  background-color: #0167f3;
  margin: 20px 0px;
}
/* Address */

/* Change Password */
.change-password {
  border-radius: 5px;
  margin: 20px 5px;
  padding: 10px 2px;
}
